/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/



:root{
/* ### Primary */

--color--dark__blue: hsl(233, 26%, 24%);
--color--lime__green: hsl(136, 65%, 51%);
--color--bright__cyan: hsl(192, 70%, 51%);

/* ### Neutral */

--color--grayish__blue: hsl(233, 8%, 62%);
--color--light-grayish__blue: hsl(220, 16%, 96%);
--color--very-light__gray: hsl(0, 0%, 98%);
--color--white: hsl(0, 0%, 100%);

--default--font-size: 1.6rem;
/* --default--border-radius: 1.6rem;

--default-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); */
}


@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: var(--default--font-size);
  color: var(--color--blue__marine);

  box-sizing: border-box;

  color: var(--color--grayish__blue);
}

body {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color--magnolia);
}