.btn {
    padding: 1.2rem 3.2rem;

    background-image: linear-gradient(to right, var(--color--lime__green), var(--color--bright__cyan));

    color: var(--color--white);

    border: none;
    border-radius: 2.5rem;

    font-size: 1.6rem;

    cursor: pointer;
}

.btn:hover{
    opacity: .7;
}


/******************************** 
************ 898px ************* 
*********************************/

@media (max-width:56.125em) {
    .btn {
        font-size: 1.2rem;
    }
}